.header {
    display: flex;
    background: #355E3B; /* forest green */
    position: absolute;
    align-items: center;
    justify-content: center;
    top:0;
    width: 100%;
}

.nav {
    padding: 10px 0 10px 0;
}

.link {
    margin: 10px 20px 10px 20px;
    color: white; /* light text for contrast */
}

.link:hover {
    color: #90ee90; /* light green on hover */
    text-decoration: underline;
}